{% from 'applications/map.jinja' import apps_settings with context %}

{# Settings dictionary with default values #}
{% set wordpress_settings = {} %}

{# Update applications data #}
{% set applist = [] %}

{% if apps_settings['applications'] %}
{% for app in apps_settings['applications'] %}
{% if app['type'] == 'wordpress' %}

{% do app.update({
    'keys': {
        'auth': '',
        'secure_auth': '',
        'logged_in': '',
        'nonce': '',
        'auth_salt': '',
        'secure_auth_salt': '',
        'logged_in_salt': '',
        'nonce_salt': ''
    },
    'admin_ssl': salt['pillar.get']('applications:' + app['type'] + ':' + app['name'] + ':admin_ssl', False)
}) %}
{% do applist.append(app) %}

{% endif %}
{% endfor %}
{% endif %}

{% do wordpress_settings.update({'applications': applist}) %}

{% for app in wordpress_settings.applications %}
{% do app['keys'].update(salt['pillar.get']('applications:' + app['type'] + ':' + app['name'] + ':keys', {})) %}
{% endfor %}
